<template>
  <v-layout column justify-center align-center>
    <v-login-form />
  </v-layout>
</template>

<script>
import vLoginForm from '~/components/vLoginForm.vue'

export default {
  components: {
    vLoginForm,
  }
}
</script>
