<template>
  <v-layout column justify-center align-center>
    <v-register-form />
  </v-layout>
</template>

<script>
import vRegisterForm from '~/components/vRegisterForm.vue'

export default {
  components: {
    vRegisterForm,
  }
}
</script>
