<template>
   <v-card
    height="auto"
    class="mx-auto"
    width="100%"
  >
    <v-navigation-drawer class="fullWidthResponsive width100" permanent>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title"> 
              <span v-if="cities">Gérer les </span>
              <span v-else-if="sites">Gérer les </span>
              <span v-else>Filtrages des </span>
            
              <span v-if="cities">villes</span>
              <span v-else-if="sites">sites</span>
              <span v-else>évenements</span>
          </v-list-item-title>
          <v-list-item-subtitle>
            Vous pouvez ici filtrer la liste 
              <span v-if="cities">de villes</span>
              <span v-else-if="sites">de sites</span>
              <span v-else>d'évenements</span>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
        >
          <div class="d-flex flex-column width100">
            <div class="d-flex flex-row align-center width100">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </div>
            <div v-if="item.id === 'place'">
              <v-select
                :items="citiesselect"
                filled
                label="Sélectionner une ville"
                class="width100"
              ></v-select>
            </div>
            <div v-else-if="item.id === 'search'">
              <v-text-field
                v-if="cities"
                label="Recherche par nom de ville"
                filled
                class="width100"
                v-model="search"
                @input="sendSearchVal"
              ></v-text-field>
              <v-text-field
                v-else-if="sites"
                label="Recherche par nom de site"
                filled
                class="width100"
                v-model="search"
                @input="sendSearchVal"
              ></v-text-field>
              <v-text-field
                v-else
                label="Recherche par nom d'évenement"
                filled
                class="width100"
                v-model="search"
                @input="sendSearchVal"
              ></v-text-field>
            </div>
            <div v-else-if="item.id === 'addc'">
              <v-text-field
                label="Ajouter une ville"
                filled
                class="width100"
              ></v-text-field>
              <v-text-field
                label="Ajouter un code postal"
                filled
                class="width100"
                :type="'tel'"
              ></v-text-field>
              <v-btn></v-btn>
            </div>
            <div v-else-if="item.id === 'adds'">
              <v-text-field
                label="Entrer un nom de ville"
                filled
                class="width100"
              ></v-text-field>
            </div>
            <div v-else-if="item.id === 'date'">
              <v-col cols="12" lg="6">
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="computedDateFormatted"
                      label="Date (read only text field)"
                      hint="Format DD/MM/YYYY"
                      persistent-hint
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" no-title></v-date-picker>
                </v-menu>
              </v-col>
            </div>
            <div v-else-if="item.id === 'checkbox' && !sites && !cities" class="d-flex flex-column itemsHeight" style="margin-top: 5px;">
                  <v-checkbox
                    v-model="checkOrga"
                    :color="'primary'"
                    :label="`Sorties dont je suis l'organisateur/trice`"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="checkReg"
                    :color="'primary'"
                    :label="`Sorties auxquelles je suis inscrit/e`"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="CheckNotReg"
                    :color="'primary'"
                    :label="`Sorties auxquelles je ne suis pas inscrit/e`"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="checkPass"
                    :color="'primary'"
                    :label="`Sorties passées`"
                  ></v-checkbox>
            </div>
          </div>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  props: ['cities', 'sites', 'items'],
  data () {
    return {
        citiesselect: [
            'Angers',
            'Nantes'
        ],
        dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
        date: new Date().toISOString().substr(0, 10),
        on: false,
        checkOrga: false,
        checkReg: false,
        CheckNotReg: false,
        checkPass: false,
        menu2: "",
        search: '',
    }
  },
  computed: {
    computedDateFormatted () {
      return this.formatDate(this.date)
    },
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    },
  },
  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    sendSearchVal () {
      this.$store.commit('search', this.search);
    },
    parseDate (date) {
      if (!date) return null

      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
  },
}
</script>

<style>
  .theme--light.v-messages
  {
    display: none !important;
  }
</style>
<style scoped>

.mx-auto
{
  position: sticky;
  top: 76px;
}

.width100
{
  width: 100% !important;
}

.itemsHeight div
{
  margin-top: 0px !important;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .fullWidthResponsive
  {
    margin: 0 !important;
    margin-bottom: 10px !important;
    width: 100% !important;
  }
}

</style>
