<template>
  <v-card id="card-overide" class="elevation-12">
    <v-toolbar
      color="orange"
      dark
      flat
    >
      <!-- EXEMPLE <v-tooltip top>
        <template v-slot:activator="{ on }">
          <router-link to="/">
            <v-btn
              icon
              large
              v-on="on"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
          </router-link>
        </template>
        <span>Revenir à la page précédente</span>
      </v-tooltip> -->

      <v-toolbar-title>Formulaire de connexion</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-form>
        <v-text-field
          label="Identifiant"
          name="login"
          prepend-icon="mdi-account"
          type="text"
          v-model="email"
        ></v-text-field>

        <v-text-field
          id="password"
          label="Mot de passe"
          name="password"
          prepend-icon="mdi-lock"
          type="password"
          v-model="password"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <div id="relativePos">
      <div class="flex-grow-1"></div>
      <v-checkbox :color="'primary'" v-model="checkSaveLater" class="smaller" :label="'Se souvenir de moi'"></v-checkbox>
      <div class="flex-grow-1"></div>
    </div>
    <v-card-actions>
      <v-btn color="primary" class="absoluteBottomMargin" :outlined="true">J'ai oublié mon mot de passe</v-btn>
      <div class="flex-grow-1"></div>
      <div class="d-flex flex-column justify-center">
        <router-link to="/register"><v-btn color="yellow" style="margin-bottom: 10px;">Créer un compte</v-btn></router-link>

        <v-btn @click="plzConnectDatShit" color="primary">Connexion</v-btn>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    checkSaveLater: false
  }),
  mounted () {
    this.checkSaveLater = false;
  },
  computed: {
    email () {
      // process.client détecte si on est dans le navigateur ou non ! Nécessaire si nous sommes en SSR (server side rendering, optimisé pour le référencement)
      if (process.client) {
        localStorage.email || '';
      }
    },
    password () {
      // process.client détecte si on est dans le navigateur ou non ! Nécessaire si nous sommes en SSR (server side rendering, optimisé pour le référencement)
      if (process.client) {
        localStorage.pass || '';
      }
    }
  },
  methods: {
    log () {
      console.log(this.email)
      console.log(this.password)
      console.log(this.checkSaveLater)
    },
    async plzConnectDatShit () {
      try {
        this.$router.push('/statistiques')
      } catch (error) {
        console.log('ERROR', error)
      }
    }
  }
}
</script>

<style scoped>
#card-overide {
  position: absolute;
  width: 500px;
}

.absoluteBottomMargin
{
  position: absolute;
  bottom: 8px;
}

#relativePos
{
  display: flex;
  margin-top: 0;
  height: 18px !important;
  position: relative;
  top: -36px;
}

@media screen and (max-width: 600px) {
    #card-overide {
      height: 100% !important;
    }
}
</style>
