<template>
  <v-card id="card-overide" class="elevation-12">
      <v-alert
        v-if="alert"
        :prominent="true"
        :type="type"
        :color="type"
        class="mb-4"
        style="margin: 5px !important;"
      >
        {{ alert }}
      </v-alert>
    <v-toolbar
      color="primary"
      dark
      flat
    >
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <router-link to="/">
            <v-btn
              icon
              large
              v-on="on"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
          </router-link>
        </template>
        <span>Revenir à la page précédente</span>
      </v-tooltip>

      <v-toolbar-title>Formulaire de création de compte</v-toolbar-title>
    </v-toolbar>
    <v-card-text class="overflowMod">
      <v-form>
        <v-text-field
          label="Identifiant"
          name="login"
          prepend-icon="mdi-account"
          type="text"
          v-model="nickname"
        ></v-text-field>
        
        <v-text-field
          label="Prénom"
          name="login"
          prepend-icon="mdi-account"
          type="text"
          v-model="firstname"
        ></v-text-field>

        <v-text-field
          label="Nom de famille"
          name="login"
          prepend-icon="mdi-account"
          type="text"
          v-model="lastname"
        ></v-text-field>

        <v-text-field
          label="Numéro de téléphone"
          name="login"
          prepend-icon="mdi-phone"
          type="tel"
          v-model="phone"
        ></v-text-field>
        <div class="d-flex flex-column modSize">
          <div class="d-flex flex-row align-center modSize">
            <v-list-item-icon id="marginRightMod">
              <v-icon>mdi-crosshairs-gps</v-icon>
            </v-list-item-icon>
            
            <v-list-item-content>
            <v-select
              :items="cities"
              label="Site"
              class="width100"
              v-model="site"
            ></v-select>
            </v-list-item-content>
          </div>
        </div>
        

        <v-checkbox
          v-model="admin"
          :label="`L'utilisateur est un administrateur`"
        ></v-checkbox>

        <v-checkbox
          v-model="worker"
          :label="`L'utilisateur est actif`"
        ></v-checkbox>

        <v-text-field
          label="E-mail"
          name="login"
          prepend-icon="mdi-at"
          type="text"
          v-model="email"
        ></v-text-field>

        <v-text-field
          label="Confirmation de l'email"
          name="login"
          prepend-icon="mdi-at"
          type="text"
          v-model="emailconf"
        ></v-text-field>

        <v-text-field
          id="password"
          label="Mot de passe"
          name="password"
          prepend-icon="mdi-lock"
          type="password"
          v-model="password"
        ></v-text-field>

        <v-text-field
          id="password"
          label="Confirmation du mot de passe"
          name="password"
          prepend-icon="mdi-lock"
          type="password"
          v-model="passwordconf"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions class="relativeHeight">
      <div class="flex-grow-1"></div>
      <div class="d-flex flex-column justify-center">
       <v-btn color="yellow" @click="register" :loading="loading">Créer le compte</v-btn>
      </div>
      <div class="flex-grow-1"></div>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    nickname: '',
    email: '',
    emailconf: '',
    password: '',
    passwordconf: '',
    loading: false,
    type: '',
    alert: '',
    admin: false,
    worker: false,
    cities: ['Nantes', 'Angers'],
    site: ''
  }),
  watch : {
    nickname () {
      // this.alert = '';
      // this.type = '';
    }
  },
  updated () {
  },
  methods: {
    async register () {
      try {
        this.type = ''
        this.alert = ''
        this.loading = true;

        const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        console.log('TEST', emailRegex.test(this.email))
        if (this.nickname.length === 0) {
          throw new Error('nick');
        }
        
        if (this.firstname.length === 0) {
          throw new Error('nick');
        }

        if (this.lastname.length === 0) {
          throw new Error('nick');
        }

        if (this.site.length === 0) {
          throw new Error('nick');
        }

        else if (this.email.length === 0)  {
          throw new Error('email')
        }
        
        else if (!emailRegex.test(this.email))  {
          throw new Error('emailnotvalid')
        }

        else if (this.emailconf.length === 0)  {
          throw new Error('emailconf')
        }

        else if (this.emailconf !== this.email)  {
          throw new Error('emailconfnotvalid')
        }

        else if (this.password.length === 0)  {
          throw new Error('pass')
        }

        else if (this.passwordconf.length === 0) {
          throw new Error('passconf')
        }

        else if (this.passwordconf !== this.password) {
          throw new Error('passconfnotvalid')
        }
        
        const axios = this.getAxios()
        const res = await axios.post('/users/create', {
          nickname: this.nickname,
          firstname: this.firstname,
          lastname: this.lastname,
          phone: this.phone,
          site: this.site,
          phone: this.phone,
          worker: this.worker,
          admin: this.admin,
          email: this.email,
          password: this.password
        });
        this.$store.commit('connect', true)
        this.$session.set('userToken', 'true')
        this.type = 'success';
        this.alert = 'Votre compte à bien été créé, dans l\'idéal vous auriez reçu un mail de validation :p'
        this.loading = false;
      } catch (error) {
       
        if (error.message === 'nick') {
          this.type = 'error';
          this.alert = 'Veuillez entrer un pseudo';
        }
        else if (error.message === 'email') {
          this.type = 'error';
          this.alert = 'Veuillez entrer un e-mail';
        }
        else if (error.message === 'emailnotvalid') {
          this.type = 'error';
          this.alert = 'Veuillez entrer un e-mail valide';
        }
        else if (error.message === 'emailconf') {
          this.type = 'error';
          this.alert = 'Veuillez confirmer votre e-mail';
        }
        else if (error.message === 'emailconfnotvalid') {
          this.type = 'error';
          this.alert = 'Les deux e-mails ne correspondent pas';
        }
        else if (error.message === 'pass') {
          this.type = 'error';
          this.alert = 'Veuillez entrer un mot de passe';
        }
        else if (error.message === 'passconf') {
          this.type = 'error';
          this.alert = 'Veuillez confirmer votre mot de passe';
        }
        else if (error.message === 'passconfnotvalid') {
          this.type = 'error';
          this.alert = 'Vos deux mots de passe ne correspondent pas';
        }

        this.loading = false;

      }
    },
  }
}
</script>

<style scoped>
#card-overide {
  position: absolute;
  width: 500px;
}

.overflowMod
{
  max-height: 60vh;
  overflow-y: scroll; 
}

.absoluteBottomMargin
{
  position: absolute;
  bottom: 8px;
}

.modSize
{
  height: 68px;
  justify-content: center;
}

#marginRightMod
{
  margin-right: 10px !important;
}

.relativeHeight
{
  position: relative;
  background-color: rgb(209, 209, 209);
  height: 64px;
}

#relativePos
{
  display: flex;
  margin-top: 0;
  height: 18px !important;
  position: relative;
  top: -36px;
}

</style>
