<template>
  <v-layout column justify-center align-center>
    Bienvenue sur needforcom, votre service de communication !
    /// FRONT A FAIRE ///
    <v-btn to="/login">Accéder à mon interface client</v-btn>
  </v-layout>
</template>

<script>
import vLoginForm from '~/components/vLoginForm.vue'

export default {
  components: {
    vLoginForm,
  }
}
</script>
